VITE_API_URL=https://api.getmycarro.com/api

VITE_FIREBASE_API_KEY=AIzaSyDCKR9rj8SptnqX-asrdllKnXR8hbEvk4c
VITE_FIREBASE_AUTH_DOMAIN=getmycarro-fef4f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=getmycarro-fef4f
VITE_FIREBASE_STORAGE_BUCKET=getmycarro-fef4f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=752665284382
VITE_FIREBASE_APP_ID=1:752665284382:web:4426a6b8090f9d4ee5c30f

VITE_CLOUDINARY_CLOUD_NAME=dmsa4uyiq
VITE_CLOUDINARY_UPLOAD_PRESET=ml_default
